<div class='card'>
  <div class='card-header'>
     {{pageTitle}}
  </div>
  <div class='card-body'>
      <div class="form-group row">
        <label for="filter" col-sm-2 col-form-label>Filter</label>
        <div class="col-sm-4">
          <input #filter (keyup)="onKey(filter.value)" class="form-control" id="filter" placeholder="filter">
        </div>
      </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='filteredBranches && filteredBranches.length'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Street</th>
            <th>Town</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let branch of filteredBranches | paginate: { itemsPerPage: 10, currentPage: page }'>
            <td>
              <a [routerLink]="['/branches', branch.name.fi]">
                {{ branch.name.fi }}
              </a>
            </td>
            <td>{{ branch.street.fi | lowercase }}</td>
            <td>{{ branch.town.fi }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div><br>
<div *ngIf='errorMessage'class="alert alert-danger">{{errorMessage}}</div>